In [20]:
import numpy as np
import pandas as pd

In [22]:
# 1) Create a series of three different colors 
colors=pd.Series(["Red","Green","Blue"])
print(colors)

0      Red
1    Green
2     Blue
dtype: object

In [23]:
# 2) View the series of different colors 
colors

0      Red
1    Green
2     Blue
dtype: object

In [24]:
# 3) Create a series of three different car types and view it 
car=pd.Series(["KIA","THAR","BMW"])
car

0     KIA
1    THAR
2     BMW
dtype: object

In [27]:
# 4) Combine the Series of cars and colors into a Data Frame 
Combined=pd.DataFrame({"car":car,"colors":colors,"Year": [2020, 2021, 2022],
    "Price": [20000.5, 30000.75, 25000.0]})
Combined

    car colors  Year     Price
0   KIA    Red  2020  20000.50
1  THAR  Green  2021  30000.75
2   BMW   Blue  2022  25000.00

In [28]:
# 5) Find the different datatypes of the car data Data Frame 
print(Combined.dtypes)

car        object
colors     object
Year        int64
Price     float64
dtype: object

In [29]:
# 6) Describe your current car sales Data Frame using describe () 
Combined.describe()

         Year         Price
count     3.0      3.000000
mean   2021.0  25000.416667
std       1.0   5000.125013
min    2020.0  20000.500000
25%    2020.5  22500.250000
50%    2021.0  25000.000000
75%    2021.5  27500.375000
max    2022.0  30000.750000

In [30]:
# 7) Get information about your Data Frame using info () 
Combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   car     3 non-null      object
 1   colors  3 non-null      object
 2   Year    3 non-null      int64
 3   Price   3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

In [31]:
# 8) Create a Series of different numbers and find the mean of them 
series=pd.Series([1,5,12,10,3])
print(series)
mean_value=series.mean()
print(mean_value)

0     1
1     5
2    12
3    10
4     3
dtype: int64
6.2

In [32]:
# 9) Create a Series of different numbers and find the sum of them 
series=pd.Series([10,20,30,40,50])
print(series)
Total=series.sum()
print(Total)

0    10
1    20
2    30
3    40
4    50
dtype: int64
150

In [33]:
# 10) List out all the column names of the car sales Data Frame
Combined.columns.tolist()

['car', 'colors', 'Year', 'Price']

In [34]:
# 11) Find the length of the car sales Data Frame 
Combined.shape

(3, 4)

In [35]:
# 12) Show the first 5 rows of the car sales Data Frame 
Combined.head()

    car colors  Year     Price
0   KIA    Red  2020  20000.50
1  THAR  Green  2021  30000.75
2   BMW   Blue  2022  25000.00

In [42]:
# 13) Show the first 7 rows of the car sales Data Frame 
Combined.head(7)

    car colors  Year     Price
0   KIA    Red  2020  20000.50
1  THAR  Green  2021  30000.75
2   BMW   Blue  2022  25000.00

In [37]:
# 14) Show the bottom 5 rows of the car sales Data Frame 
Combined.tail()

    car colors  Year     Price
0   KIA    Red  2020  20000.50
1  THAR  Green  2021  30000.75
2   BMW   Blue  2022  25000.00

In [38]:
# 15) Use. loc to select the row at index 3 of the car sales Data Frame
Combined.loc[2]

car           BMW
colors       Blue
Year         2022
Price     25000.0
Name: 2, dtype: object

In [39]:
# 16) Use. iloc to select the row at position 3 of the car sales Data Frame 
Combined.iloc[2]

car           BMW
colors       Blue
Year         2022
Price     25000.0
Name: 2, dtype: object

In [40]:
# 17) Create a crosstab of the Make and Doors columns. 
data = {
    'Make': ['Toyota', 'Honda', 'Ford', 'Toyota', 'Ford', 
             'Honda', 'Toyota', 'Ford', 'Honda', 'Toyota'],
    'Doors': [4, 2, 2, 4, 2, 4, 4, 2, 4, 4],
}
df=pd.DataFrame(data)
# print(df,"======")
Cross_tab=pd.crosstab(df["Make"],df["Doors"])#.reset_index()
print(Cross_tab)

Doors   2  4
Make
Ford    3  0
Honda   1  2
Toyota  0  4